# ===============================
# GIS / Remote Sensing (global)
# ===============================
# QGIS backup & auxiliary storage
*.qgs~
*.qgz~
*.qgd

# GDAL/OGR/GeoTIFF sidecars and pyramids
*.aux.xml
*.ovr
*.tif

# World files
*.tfw
*.jgw
*.pgw
*.wld